# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Django
db.sqlite3
*.sqlite3
*.log

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Lab2 - generated output files
lab2/*.png
lab2/output/
